.NewsTitle {
    width: 100%;
    background-color: #232f3f;
    color: whitesmoke;
    height: 5vh;
    border: 1px solid #131921;
    display: flex;
    justify-content: space-between;
    z-index: 1;

    font-family: "Merriweather", "Georgia", serif;
}

.header-service-shipping__Wrapper span {
    margin-left: 1%;
    font-size: 1.4vh;
    color: whitesmoke;
    display: flex;
    list-style: none;
}

.header-tool__services {
    margin: 0;
    color: whitesmoke;
}

ul {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 20px;
}

.header-service-shipping__Wrapper {
    display: flex;
}

li {
    margin: 0;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20px;
}

li a {
    font-size: 14px;
    color: #e9e9ea;
    margin: 0;
    padding: 8px 9px;
    text-align: center;
}

li a:hover {
    border: 1px whitesmoke solid;
    border-radius: 2px;
}

Link {
    text-decoration-color: whitesmoke;
}

.header-tool__helpService {
    color: whitesmoke;
}

.Header-tools-tools {
    display: flex;
    margin-right: 8rem;
    justify-content: flex-end;
    list-style: none;
    align-items: center;
}

.Header-tools-tools li {
    margin-right: 30px;
}

.btn {
    margin-left: 10px;
    height: 30px;
    border: none;
    border-radius: 2px;
    width: 150px;
}

.btn-primary {
    background-color: rgb(253, 253, 253);
}

.btn-Basecolor {
    width: 100px;
    background-color: rgb(255, 150, 101);
    border: 1px solid black;
}

.long {
    width: 150px;
    background-color: rgba(210, 255, 128, 0.959);
}

.btn:hover {
    background-color: rgb(200, 224, 245);
}

.badge {
    font-size: 15px;
    margin-left: 10px;
    font-weight: bold;
}