.ProfileBody {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #EAEDED;
}

.username_holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    height: auto;
    width: auto;
}

.square {
    width: 220px;
    margin: 0 2vh;
    height: 150px;
}

.ProfileContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: none;
}

.menuHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10rem;
    border: 1px solid black;
}

.profile_banner {
    width: 100%;
    align-self: center;
    display: flex;
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.menu {
    display: flex;
    height: 30%;
    width: 100%;
    align-items: center;
    border-top: 1px solid black;
}

.menu ul {
    padding: 0;
    margin-left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

.menu li {
    overflow: hidden;
    display: flex;
    border: 1px solid black;
    height: 40px;
    overflow-wrap: break-word;
    width: 200px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background-color: violet;
}

.menu li:hover {
    background-color: wheat;
}

.Profile_information {
    position: relative;
    display: flex;
}

.left_pannel_profile {
    position: static;
    margin: 0%;
    z-index: 1;
    height: 900px;
    width: 20%;
}

.item_holder {
    display: flex;
    max-width: 80%;
    margin: 0%;
    flex-wrap: wrap;
 
    justify-content: flex-start;
}

.AdditemCard {
    width: 250px;
    height: 350px;
    margin: 10px;
    background-color: rgb(221, 221, 221);
    margin-top: 2px;
    position: relative;
    display: flex;
    justify-content: center;
}

.AdditemCard:hover {
    box-shadow: 0 0 11px rgba(17, 17, 17, 0.3);
    background-color: rgb(221, 221, 221, 0.5);
}

.AdditemCard_header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    font-weight: bold;
    width: 80%;
}

.circleholder {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 100%;
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: white;
}

.AdditemCard:hover .circle {
    box-shadow: 0 0 11px rgba(17, 17, 17, 0.3);
}

.cross {
    background: rgb(0, 0, 0);
    height: 50px;
    position: relative;
    width: 5px;
}

.cross:after {
    background: rgb(3, 3, 3);
    content: "";
    height: 5px;
    left: -20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
}